@import "~antd/dist/antd.css";

.logo {
   width: 50px;
   height: auto;
   margin-right: 10px;
}

.logo img {
   width: 100%;
   height: auto;
}

.ant-layout-header {
   padding: 0 20px;
}

.pd-20 {
   padding: 20px;
}

.mg-10 {
   margin: 10px 0px;
}

.mlr-10 {
   margin: 0px 10px;
}
